<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>团队工作日历</title>
    <script src="./packages/vue@2.7.14.js"></script>
    <script src="./utils/date.js"></script>
    <script src="./utils/store.js"></script>
    <script src="./Model/calendar.js"></script>
    <script src="./Model/user.js"></script>
    <script src="./Controller/calendar.js"></script>
    <script src="./Controller/user.js"></script>
    <script src="./constants/index.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./packages/element@2.15.13.css" />
    <!-- 引入组件库 -->
    <script src="./packages/element@2.15.13.js"></script>

    <style>
      #app {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 100px auto;
      }
      .table {
        border-top: 1px solid #ebeef5;
      }
      .page-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 820px;
        margin-bottom: 10px;
      }
      .team-calendar h2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .team-calendar .wrap {
        /* border: 1px solid red; */
        border-bottom: 1px solid #ededed;
        width: max-content;
      }
      .team-calendar .wrap .head-row {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;
        border-top: 1px solid #ededed;
        padding: 6px 0 6px 100px;
      }
      .team-calendar .wrap .head-row .date-item {
        width: 100px;
      }
      .team-calendar .wrap .head-row .date-item.active {
        color: blue;
      }
      .team-calendar .wrap .user-row {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        border-top: 1px solid #ededed;
      }
      .team-calendar .wrap .user-row .user-name {
        width: 100px;
        text-align: center;
      }
      .team-calendar .wrap .user-row .time-wrap {
        width: 100px;
        position: relative;
        height: 20px;
        background-color: #ededed;
        /* border: 1px solid #ccc; */
        margin: 6px 1px;
      }
      .team-calendar .wrap .user-row .work-time {
        position: absolute;
        top: 0;
        height: 100%;
        background-color: #2ab989;
      }
      .night-time {
        position: absolute;
        top: 0;
        height: 100%;
        background-color: #ccc;
      }
      .night-time.pre {
        width: 33px;
        left: 0;
      }
      .night-time.after {
        width: 27px; /* (24-17.5) / 24 * 100 */
        left: 73px; /* 17.5/24*100  */
      }
      .desc {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 20px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="page-title">
        <el-button @click="() => window.history.back()" size="mini"
          >返回</el-button
        >
        <div>
          <el-button @click="clickAdd" type="primary" size="mini"
            >排班</el-button
          >
          <el-button
            size="mini"
            @click.native="window.location.href = './user.html'"
          >
            人员管理
          </el-button>
        </div>
      </div>
      <el-table class="table" :data="list" style="max-width: 820px">
        <template v-for="item in columns">
          <el-table-column
            v-if="item.field === 'operation'"
            fixed="right"
            :label="item.title"
          >
            <template slot-scope="scope">
              <el-link @click.native="clickEdit(scope.row)">编辑</el-link>
              <el-popconfirm
                title="确定删除吗？"
                @confirm="clickDelete(scope.row)"
              >
                <el-link slot="reference">删除</el-link>
              </el-popconfirm>
              <el-link @click.native="toDetail(scope.row)">个人日历</el-link>
            </template>
          </el-table-column>
          <el-table-column
            v-else
            :prop="item.field"
            :label="item.title"
            :formatter="item.formatter"
          >
          </el-table-column>
        </template>
      </el-table>

      <div class="team-calendar">
        <h2>
          <span>团队日历</span>
          <div>
            <el-button type="primary" size="mini" @click.native="clickPreCycle"
              >&lt; 前一周</el-button
            >
            <el-button type="primary" size="mini" @click.native="clickNextCycle"
              >后一周 &gt;</el-button
            >
          </div>
        </h2>
        <div class="wrap">
          <div class="head-row">
            <div
              class="date-item"
              :class="{active: isToday(item.year, item.month, item.day)}"
              v-for="item in currentCycle"
              :key="`${item.year}_${item.month}_${item.day}`"
            >
              {{ [item.year, item.month + 1, item.day].join('/') }}
            </div>
          </div>
          <div
            class="user-row"
            v-for="item in teamCalendarList"
            :key="item.code"
          >
            <div class="user-name">{{ item.userData.name }}</div>
            <div class="time-wrap" v-for="data in item.work" :key="item.date">
              <div class="night-time pre"></div>
              <div class="night-time after"></div>
              <div
                class="work-time"
                v-for="(timeFragment, index) in data.data.workTime"
                :key="index"
                :style="getWorkTimeStyle(timeFragment)"
              ></div>
              <div class="desc">{{ data.data.alias }}</div>
            </div>
          </div>
        </div>
      </div>

      <el-dialog
        :visible.sync="showSetting"
        :title="isAdd ? '新增人员日历' : '编辑人员日历'"
        width="500px"
      >
        <el-form
          :model="form"
          :rules="rules"
          ref="calendarForm"
          label-width="80px"
        >
          <el-form-item label="姓名" prop="code">
            <el-select v-model="form.code">
              <el-option
                v-for="item in users"
                :key="item.code"
                :label="item.name"
                :value="item.code"
              ></el-option>
            </el-select>
          </el-form-item>
          <!-- <el-form-item label="工作类型" prop="type">
            <el-select v-model="form.type">
              <el-option
                label="4天一循环"
                :value="1"
              ></el-option>
            </el-select>
            </el-select>
          </el-form-item> -->
          <!-- <el-form-item label="任意周期开始日期" prop="beginDate"> -->
          <el-form-item label="白班日期" prop="beginDate">
            <el-date-picker
              v-model="form.beginDate"
              align="right"
              type="date"
              placeholder="选择日期"
              :picker-options="pickerOptions"
            >
            </el-date-picker>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="showSetting = false">取 消</el-button>
          <el-button type="primary" @click="onConfirmAdd">确 定</el-button>
        </span>
      </el-dialog>
    </div>

    <script>
      const store = new Store("teamCalender");
      new Vue({
        el: "#app",
        data() {
          return {
            showSetting: false,
            isAdd: true,
            editData: null,
            list: [],
            users: [],
            form: {
              code: "",
              type: 1,
              beginDate: undefined,
            },
            pickerOptions: {
              shortcuts: [
                {
                  text: "前天",
                  onClick(picker) {
                    const date = new Date(dateUtil.formatter(new Date()));
                    date.setTime(date.getTime() - 3600 * 1000 * 24 * 2);
                    picker.$emit("pick", date);
                  },
                },
                {
                  text: "昨天",
                  onClick(picker) {
                    const date = new Date(dateUtil.formatter(new Date()));
                    date.setTime(date.getTime() - 3600 * 1000 * 24);
                    picker.$emit("pick", date);
                  },
                },
                {
                  text: "今天",
                  onClick(picker) {
                    picker.$emit(
                      "pick",
                      new Date(new Date(dateUtil.formatter(new Date())))
                    );
                  },
                },
                {
                  text: "明天",
                  onClick(picker) {
                    const date = new Date(dateUtil.formatter(new Date()));
                    picker.$emit("pick", date.getTime() + 3600 * 1000 * 24);
                  },
                },
                {
                  text: "后天",
                  onClick(picker) {
                    const date = new Date(dateUtil.formatter(new Date()));
                    picker.$emit("pick", date.getTime() + 3600 * 1000 * 24 * 2);
                  },
                },
              ],
            },
            rules: {
              code: [{ required: true, message: "请选择人员" }],
              beginDate: [{ required: true, message: "请选择周期开始日期" }],
            },
            columns: [
              {
                title: "姓名",
                field: "code",
                formatter: (data) =>
                  this.users.find((item) => item.code === data.code)?.name,
              },
              // { title: "类型", field: "type" },
              {
                title: "周期开始时间",
                field: "beginDate",
                formatter: (data) => dateUtil.formatter(data.beginDate),
              },
              {
                title: "今天工作类型",
                field: "today",
                formatter: (data) => {
                  const work = this.getDateWorkInfo(
                    dateUtil.getDate0Time(new Date()),
                    data.beginDate
                  );
                  return `${work.desc}(${work.alias})`;
                },
              },
              { title: "操作", field: "operation" },
            ],
            currentCycle: [],
            teamCalendarList: [],
            width: 100,
          };
        },
        methods: {
          isToday: dateUtil.isToday,
          toDetail(data) {
            window.location.href = `./detail.html?code=${data.code}`;
          },
          // markTimes() {
          //   const marks = ["08:00", "11:30", "17:30", "00:00"];
          //   for (let item of marks) {
          //   }
          // },
          getWorkTimeStyle([start, end]) {
            if (!start || !end) return null;
            const time0 = new Date("1970/1/1 00:00:00");
            const time24 = new Date("1970/1/2 00:00:00");
            const left =
              this.width *
              ((new Date("1970/1/1 " + start) - time0) / (time24 - time0));
            const width =
              this.width *
              ((new Date("1970/1/1 " + end) - new Date("1970/1/1 " + start)) /
                (time24 - time0));
            return { left: parseInt(left) + "px", width: width + "px" };
          },
          clickAdd() {
            this.showSetting = true;
            this.isAdd = true;
          },
          clickEdit(data) {
            this.showSetting = true;
            this.isAdd = false;
            this.editData = data;
          },
          clickDelete(data) {
            this.delCalendar(data);
          },
          onConfirmAdd() {
            this.$refs.calendarForm.validate(async (valid) => {
              if (valid) {
                if (this.isAdd) {
                  await this.addCalendar(this.form);
                } else {
                  await this.editCalendar(this.form);
                }
              } else {
                return false;
              }
            });
          },
          resetForm(formName) {
            this.$refs.calendarForm.resetFields();
          },
          async addCalendar(params) {
            const res = await calendarController.set(params);
            if (res) {
              this.$message.success("新增成功");
              this.showSetting = false;
              this.getList();
            } else {
              this.$message.error("新增失败");
            }
          },
          async editCalendar(params) {
            const res = await calendarController.set(params);
            if (res) {
              this.$message.success("编辑成功");
              this.showSetting = false;
              this.getList();
            } else {
              this.$message.error("编辑失败");
            }
          },
          async delCalendar(data) {
            const res = await calendarController.del(data.code);
            if (res) {
              this.$message.success("删除成功");
              this.getList();
            } else {
              this.$message.error("用户不存在");
            }
          },
          async getList() {
            this.list = await calendarController.getList();
            // console.log(this.list);
          },
          async getUserList() {
            this.users = await userController.getList();
          },
          getCurrentCycle() {
            const date = new Date();
            this.currentCycle = dateUtil.getCurrentWeek(date);
          },
          getDateWorkInfo(date, circleBeginDate) {
            const circleLen = FOUR_DAY_CYCLE.length;
            const diffDay = dateUtil.getDiffDay(circleBeginDate, date);
            // console.log(diffDay, (diffDay % circleLen + 4) % circleLen + 1, circleMap[(diffDay % circleLen + 4) % circleLen + 1])
            return FOUR_DAY_CYCLE[
              ((diffDay % circleLen) + circleLen) % circleLen
            ];
          },
          getKey(year, month, day) {
            return [year, month + 1, day].join("/");
          },
          clickPreCycle() {
            const pre = dateUtil.getPreCycle(this.currentCycle);
            this.currentCycle = pre;
          },
          clickNextCycle() {
            const next = dateUtil.getNextCycle(this.currentCycle);
            this.currentCycle = next;
          },
          calWorkInfo() {
            const list = [];
            for (let item of this.list) {
              const row = {
                ...item,
                userData: this.users.find((u) => item.code === u.code),
              };
              const work = [];
              for (let { year, month, day } of this.currentCycle) {
                const key = this.getKey(year, month, day);
                const data = this.getDateWorkInfo(
                  new Date(year, month, day),
                  new Date(item.beginDate)
                );
                work.push({ data: data, date: key });
              }
              row.work = work;
              list.push(row);
            }
            this.teamCalendarList = list;
            // console.log(this.teamCalendarList);
          },
        },
        created() {
          this.getList();
          this.getUserList();
          this.getCurrentCycle();
        },
        watch: {
          showSetting(n) {
            if (n) {
              this.$nextTick(() => {
                this.isAdd
                  ? this.resetForm()
                  : (this.form = { ...this.editData });
              });
            }
          },
          currentCycle() {
            this.calWorkInfo();
          },
          list(n) {
            this.calWorkInfo();
          },
        },
      });
    </script>
  </body>
</html>
